<div class="d-flex flex-column w-100">
    <div class="headerContent">
      <button class="backButton" (click)="returnToList()"></button>
      <button class="addButton" (click)="addRegistry()"></button>
      <button class="saveButton" (click)="saveRegistry()"></button>
    </div>
    <div class="w-100 h-100 ps-5 mb-5">
      <div class="container formCRUD">
        <h4 class="headerTitle">Hero Details</h4>
        <hr class="hrTitle">
        <form class="container row pb-5" [formGroup]="form">
          <div class="form-group col-6">
            <label class="form-label">Id:</label>
            <div class="input-group">
              <input type="text" class="form-control shadow-none" formControlName="id" maxlength="50" >
            </div>
          </div>
          <div class="form-group col-6">
            <label class="form-label">Name:</label>
            <div class="input-group">
              <input type="text" class="form-control shadow-none" formControlName="name" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
              <span class="text-danger bg-white border-0 ui-inputgroup-addon">*</span>
              <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['whitespace']">{{env.requiredFieldText}}</div>
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label class="form-label">Power:</label>
            <div class="input-group">
              <input type="text" class="form-control shadow-none" formControlName="power" maxlength="50" [ngClass]="{ 'is-invalid': submitted && f['power'].errors }">
              <span class="text-danger bg-white border-0 ui-inputgroup-addon">*</span>
              <div *ngIf="submitted && f['power'].errors" class="invalid-feedback">
                <div *ngIf="f['power'].errors['whitespace']">{{env.requiredFieldText}}</div>
              </div>
            </div>
          </div>
          <div class="form-group col-12">
            <button class="btn btn-primary" name="Cancel" (click)="returnToList()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  